#contact
{
    background-color: #efefef;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #777;
}

.contact-form
{
    padding: 15px;
}

.form-control
{
    margin: 10px 0;
    border-radius: 0 !important;
    border: none !important;
}

textarea
{
    resize: none;
}

::placeholder
{
    color: #999 !important;
}

.follow 
{
    background-color: #fff;
    padding: 10px;
    margin: 15px;
}

.contact-info 
{
   .fab 
   {
       margin: 10px;
       color: #007bff;
       font-weight: bold;
   }
}